@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('/public/css/header-navbar.css');
@import url('/public//css/content-home.css');
@import url('/public//css/content-atividades.css');
@import url('/public//css/content-atividades-list.css');

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #02273f;
}

.nada a {
    left: 0;
    bottom: 0;
    opacity: 0;
    padding: 10px;
    position: fixed;
    background: #11a0ff;
}