.content-atividades {
    min-height: 100vh;
    color: #ffffff;
    padding-bottom: 5%;
    max-width: 1024px;
    margin: 0 auto;
}

.content-atividades .title {
    gap: 15px;
    height: 150px;
    display: flex;
    margin: auto 5%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.content-atividades .title h1 {
    font-size: 24px;
}
.content-atividades .title p {
    max-width: 750px;
}


.content-atividades .cards {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-atividades .cards .card {
    scale: .8;
    width: 240px;
    display: flex;
    height: 320px;
    cursor: pointer;
    position: relative;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    background: #175DA3;
    flex-direction: column;
    transition: .2s ease-in-out;
    justify-content: space-between;
    box-shadow: 0 1px 4px #00000025;
}
.content-atividades .cards .card:hover {
    scale: 1;
}
.content-atividades .cards .card a {
    font-size: 14px;
    color: #000000;
    border-radius: 20px;
    padding: 10px 50px;
    text-decoration: none;
    background: #ffffff;
    box-shadow: 0 1px 4px #00000025;
}

@media (max-width: 750px) {
    .content-atividades .cards .card {
        scale: 1;
    }
}


/*  */

.quantidade {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 18px;
    color: #175DA3;
    font-weight: bold;
    position: absolute;
    align-items: center;
    background: #d3d3d3;
    justify-content: center;
    border-radius: 7px 4px 30px 4px;
}
.quantidade span {
    margin-right: 5px;
    margin-bottom: 5px;
}