.content-home {
    min-height: 90vh;
    color: #ffffff;
    padding-bottom: 5%;
}

.content-home .title {
    gap: 15px;
    height: 250px;
    display: flex;
    margin: auto 5%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.content-home .title h1 {
    font-size: 24px;
}
.content-home .title p {
    max-width: 750px;
}


.content-home .cards-assets {
    gap: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    justify-content: center;
    transform-style: preserve-3d;
}
.content-home .cards-assets .card {
    transform-style: preserve-3d;
    scale: .7;
    width: 240px;
    display: flex;
    height: 320px;
    cursor: pointer;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    align-items: center;
    background: #175DA3;
    flex-direction: column;
    transition: .2s ease-in-out;
    justify-content: space-between;
    box-shadow: 0 1px 4px #00000025;
    transform: rotate3d(1, 0, 0, 45deg);
}

.content-home .cards-assets .card a {
    font-size: 14px;
    color: #000000;
    border-radius: 20px;
    padding: 10px 50px;
    text-decoration: none;
    background: #ffffff;
    box-shadow: 0 1px 4px #00000025;
}

.content-home .cards-assets .card:hover {
    scale: 1;
    transform: rotate3d(0, 0, 0, 0deg);
}

@media (max-width: 1044px) {
    .content-home .cards-assets .card {
        scale: .8;
        transform: rotate3d(0, 0, 0, 45deg);
    }
}