@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  color: #000;
  font-family: "TikTok Sans", sans-serif;
  background-color: #fff;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  color: #000;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: blue;
  text-decoration: none;
  font-size: 16px;
}
a:hover {
  text-decoration: underline;
}

ul, ol {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.3rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
}

button {
  color: white;
  cursor: pointer;
  background-color: #20778d;
  transition: background 0.3s;
}
button:hover {
  background-color: rgb(24.7765957447, 94.7340425532, 112.2234042553);
}

input:focus,
textarea:focus,
select:focus {
  border-color: blue;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.logo {
  width: 100%;
  height: 80px;
  background: #289DB9;
}
.logo img {
  padding: 10px;
  margin: auto;
}

.nav-menu {
  top: 0px;
  z-index: 999;
  height: 40px;
  display: flex;
  position: sticky;
  align-items: center;
  background: #289DB9;
  justify-content: space-evenly;
}
.nav-menu a {
  color: #fff;
  outline: none;
  font-weight: 600;
  text-decoration: none;
}
.nav-menu a:hover {
  color: #f1f1f1;
}

.content-home {
  min-height: 80vh;
}

.welcome {
  width: 100%;
  display: flex;
  padding: 20px 0px;
  min-height: 180px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.welcome .description {
  width: 50%;
}
.welcome .ranking {
  width: 50%;
}

.stock-ticker {
  --gap: 20px;
  display: flex;
  gap: var(--gap);
  font-size: 14px;
  overflow: hidden;
  user-select: none;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3137254902);
}
.stock-ticker .rank {
  color: rgba(0, 0, 0, 0.5960784314);
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  gap: var(--gap);
  cursor: pointer;
  list-style: none;
  padding: 10px 0px;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-evenly;
  animation: scroll 8s linear infinite;
}
.stock-ticker .rank .r1, .stock-ticker .rank #rank-01, .stock-ticker .rank #rank-001 {
  background: linear-gradient(90deg, #289DB9, rgb(0, 115, 255), cyan, rgb(0, 115, 255), #289DB9);
  background-size: 500% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: arcoiris 3s linear infinite;
}
@keyframes arcoiris {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}
.stock-ticker::before, .stock-ticker::after {
  content: "";
  top: 0;
  z-index: 10;
  width: 50px;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.stock-ticker::before {
  left: 0;
  background: linear-gradient(to right, #ffffff, transparent);
}
.stock-ticker::after {
  right: 0;
  background: linear-gradient(to left, #ffffff, transparent);
}
.stock-ticker:hover .rank {
  animation-play-state: paused;
}
@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.cards {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards .card {
  width: 220px;
  padding: 10px;
  height: 300px;
  flex-shrink: 0;
  cursor: pointer;
  min-width: 220px;
  border-radius: 8px;
  background: #fff;
  transition: 0.3s ease;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1450980392);
}
.cards .card:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3137254902);
}
.cards .card .card-top {
  height: 50%;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(40, 157, 185, 0.5) 0%, rgb(40, 157, 185) 100%);
}
.cards .card .card-top img {
  width: 60px;
}
.cards .card .bg-excel {
  background: linear-gradient(to bottom, rgba(0, 128, 0, 0.5) 0%, rgb(0, 128, 0) 100%);
}
.cards .card .bg-word {
  background: linear-gradient(to bottom, rgba(33, 97, 140, 0.5) 0%, rgb(33, 97, 140) 100%);
}
.cards .card .bg-windows {
  background: linear-gradient(to bottom, rgba(0, 120, 215, 0.5) 0%, rgb(0, 120, 215) 100%);
}
.cards .card .bg-internet {
  background: linear-gradient(to bottom, rgba(0, 191, 255, 0.5) 0%, rgb(0, 191, 255) 100%);
}
.cards .card .bg-powerpoint {
  background: linear-gradient(to bottom, rgba(230, 126, 34, 0.5) 0%, rgb(230, 126, 34) 100%);
}
.cards .card .bg-powerbi {
  background: linear-gradient(to bottom, rgba(241, 196, 15, 0.5) 0%, rgb(241, 196, 15) 100%);
}
.cards .card .bg-photoshop {
  background: linear-gradient(to bottom, rgba(44, 62, 80, 0.5) 0%, rgb(44, 62, 80) 100%);
}
.cards .card .bg-illustrator {
  background: linear-gradient(to bottom, rgba(211, 84, 0, 0.5) 0%, rgb(211, 84, 0) 100%);
}
.cards .card .bg-coreldraw {
  background: linear-gradient(to bottom, rgba(0, 153, 0, 0.5) 0%, rgb(0, 153, 0) 100%);
}
.cards .card .card-bottom {
  height: 50%;
  padding: 20px 5px;
  text-align: center;
  border-radius: 8px;
}
.cards .card .card-bottom h3 {
  margin-bottom: 15px;
}
.cards .card .card-bottom span {
  line-height: 1.1;
  color: #515151;
}

.footer-container {
  margin-top: 150px;
  display: flex;
  padding: 2rem;
  color: #f1f1f1;
  align-items: center;
  background-color: #289DB9;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .footer-container {
    gap: 1.5rem;
    text-align: center;
    flex-direction: column;
  }
}
.footer-container .footer-section {
  max-width: 300px;
}
.footer-container .footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.footer-container .footer-section h3 a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-container .footer-section h3 a:hover {
  color: #00bcd4;
}
.footer-container .footer-section p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #ccc;
}

.game-title {
  text-align: center;
}

.card-digitacao {
  padding: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 0.2fr;
}
.card-digitacao .box-game {
  padding: 20px;
  border-radius: 8px;
  background: #20778d;
}
.card-digitacao .box-game .game-info {
  padding: 20px;
  display: flex;
  color: #fff;
  font-size: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.card-digitacao .box-game .game-info #time {
  font-size: 42px;
}
.card-digitacao .box-game .game-area {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.card-digitacao .box-game .game-area .word-display {
  width: 100%;
  color: #fff;
  padding: 15px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.card-digitacao .box-game .game-area .word-input {
  width: 100%;
  padding: 10px;
  font-size: 28px;
  text-align: center;
  border-radius: 20px;
  background: #fff;
}
.card-digitacao .box-game .game-area .letter {
  display: inline-block;
  transition: 0.3s ease;
  padding: 0 2px;
  border-radius: 3px;
}
.card-digitacao .box-game .game-area .letter.correct {
  color: rgb(119, 255, 0);
  font-weight: bold;
}
.card-digitacao .box-game .game-area .letter.correct {
  color: rgb(119, 255, 0);
  font-weight: bold;
}
.card-digitacao .box-game .game-area .letter.incorrect {
  color: red;
  background-color: rgba(244, 67, 54, 0.1);
  font-weight: bold;
}
.card-digitacao .box-game .game-area .level-up {
  color: rgb(119, 255, 0);
  animation: pulse 1s infinite;
}
.card-digitacao .box-game .game-area .paused {
  color: rgba(255, 255, 255, 0.5);
}
.card-digitacao .box-game .progress-container {
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background: #fff;
}
.card-digitacao .box-game .progress-container .progress-bar {
  height: 10px;
  border-radius: 30px;
  background: cyan;
}
.card-digitacao .box-game .progress-text {
  padding: 5px 0px 20px 0px;
  color: #fff;
  font-size: 16px;
}
.card-digitacao .controls {
  background: #20778d;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.letter.correct {
  color: rgb(119, 255, 0);
  font-weight: bold;
}

.letter.incorrect {
  color: red;
  background-color: rgba(244, 67, 54, 0.1);
  font-weight: bold;
}

.level-up {
  color: rgb(119, 255, 0);
  animation: pulse 1s infinite;
}

.paused {
  color: rgba(255, 255, 255, 0.5);
}

.atividade-title {
  margin-bottom: 30px;
}

.container.atividade {
  display: flex;
  padding-top: 30px;
  align-items: center;
  flex-direction: column;
}

.section-atividade {
  width: 70%;
}
.section-atividade .instrucoes p {
  margin-bottom: 30px;
}

@media (max-width: 750px) {
  .section-atividade {
    width: 80%;
  }
}
.body-day1 {
  color: #e0e0e0;
  background: #000;
}

.body-day1 button {
  padding: 5px;
  width: 120px;
  margin: 10px;
  color: #e0e0e0;
  background: #484848;
}

.body-day1 .active {
  color: #ffffff;
  background: #61929c;
}

.content-day1 {
  gap: 20px;
  display: flex;
  padding: 30px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-day1 h3 {
  color: #e0e0e0;
}
.content-day1 .stats {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.content-day1 .game-area {
  width: 550px;
  padding: 15px;
  user-select: none;
  min-height: 350px;
  position: relative;
  border-radius: 10px;
  background: #484848;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1450980392);
}
.content-day1 .game-area .game-display {
  height: 100%;
  position: relative;
}
.content-day1 .game-area .game-display .draggable {
  cursor: move;
  display: flex;
  color: white;
  user-select: none;
  position: absolute;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #00a1a1;
}
.content-day1 .game-area .game-display .drop-zone {
  display: flex;
  color: #2ecc71;
  position: absolute;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  border: 2px dashed #2ecc71;
}
.content-day1 .game-area.digitacao {
  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.content-day1 .game-area.digitacao span {
  font-size: 28px;
}
.content-day1 .game-area.digitacao input {
  width: 80%;
  font-size: 24px;
}
.content-day1 .game-area.digitacao .correct {
  color: #27ae60;
}
.content-day1 .game-area.digitacao .incorrect {
  color: #e74c3c;
  text-decoration: underline;
}

.target {
  width: 40px;
  height: 40px;
  z-index: 999;
  display: flex;
  color: white;
  cursor: pointer;
  user-select: none;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s;
  background-color: #e74c3c;
}

.target:hover {
  transform: scale(1.05);
}

.home-voltar {
  top: 20px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  position: absolute;
}

@media (max-width: 550px) {
  .content-day1 {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
