.title-prova {
    color: #fff;
}
.form-prova {
    gap: 20px;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    margin: 5% auto;
    justify-content: space-evenly;
    .box-input {
        display: flex;
        align-items: center;
        flex-direction: column;
        input {
            width: 350px;
            outline: none;
            text-align: center;
            text-transform: uppercase;
            border: 1.5px solid #000;
        }
    }
}
.card-question {
    gap: 20px;
    width: 80%;
    display: flex;
    padding: 20px;
    margin: 20px auto;
    user-select: none;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #289DB925;
    .box-question {
        width: 100%;
        .question {
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }
    }
    .box-alternatives {
        width: 100%;
        .alternative {
            gap: 10px;
            display: flex;
            padding: 15px 20px;
            cursor: pointer;
            margin: 10px auto;
            border-radius: 8px;
            background: #fff;
            align-items: center;
            transition: .2s ease-in-out;
            &:hover {
                color: #fff;
                background: #289DB9;
            }
            .alt-identifier {
                padding-right: 10px;
                font-size: 20px;
                font-weight: bold;
            }
            span {
                font-size: 17px;
                line-height: 22px;
            }
        }
        .alternative-active {
            color: #fff;
            background: #289DB9;
            &:hover {
                background: #289DB9;
            }
        }
    }
}